@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles */
body {
  height: 100%;
  padding: 4em;
  background: #465362;
  overflow: hidden;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.slider-container {
  width: stretch;
  padding: 20px 5%;
  text-align: center;
}

.slider {
  width: stretch;
  height: 10px; 
  -webkit-appearance: none;
  appearance: none;
  background: #ddd;
  outline: none;
  transition: opacity .2s;
  cursor: pointer;
  border-radius: 15px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px; /* Larger thumb */
  height: 35px;
  background: #465362;
  border: 4px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: #465362;
  border: 4px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.time-indicator {
  z-index: -1;
  position: absolute;
}

.time-indicator.first {
  left: 0;
  transform: translate(-25%, 0);
}

.time-indicator.last {
  right: 0;
  transform: translate(25%, 0);
}

.time-indicator.half {
  left: 50%;
  transform: translate(-25%, 0);
}

.bays-container {
  width: 100%;
  height: 75%;
  margin-top: 200px;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
}

.bay {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 15%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #f9dc5c2c;
  margin: 1% 2.5%;
  overflow: hidden;
}

.bay .bay-number {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.1;
}

[type="date"] {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
